flask==2.2.2
Werkzeug==2.2.2
numpy==1.23.5 
pandas==2.0.3
tensorflow==2.14.0
scikit-learn==1.2.0
flask-cors==3.0.10
gunicorn

protobuf==4.22.0 # needed for TensorFlow 
uvicorn==0.20.0 # for FastAPI
